@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

#cursor-trail {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: screen;
}
